@import"https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap";

:root {
  
  /* Webflow colors */

  --background1: #1e1e1e;
  --background2: #2e2e2e;
  --background3: #383838;
  --background4: #373737;
  --background5: #444444;
  --backgroundInactive: #2e2e2e;
  --backgroundInverse: rgb(235, 235, 235);
  --backgroundInput: rgba(0, 0, 0, .15);

  --actionPrimaryBackground: #006acc;
  --actionPrimaryBackgroundHover: #187cd9;
  --actionSecondaryBackground: linear-gradient(180deg, rgba(255, 255, 255, .12) 0%, rgba(255, 255, 255, .1) 100%), var(--background3);
  --actionSecondaryBackgroundHover: linear-gradient( 180deg, rgba(255, 255, 255, .18) 0%, rgba(255, 255, 255, .16) 100% );
  --actionPrimaryText: #ffffff;
  --actionPrimaryTextHover: #ffffff;
  --actionSecondaryText: #e0e0e0;
  --actionSecondaryTextHover: #e0e0e0;

  --border1: rgba(255, 255, 255, .13);
  --border2: rgba(255, 255, 255, .14);
  --border3: rgba(255, 255, 255, .19);

  --text1: #f5f5f5;
  --text2: #bdbdbd;
  --text3: #a3a3a3;
  --textInactive: #757575;
  --textInverse: #1e1e1e;

  --blueText: #8ac2ff;
  --blueIcon: #8ac2ff;
  --blueBorder: #007df0;

  --greenBackground: #007a41;
  --greenBackgroundHover: #0d8a4f;
  --greenText: #63d489;
  --greenIcon: #63d489;
  --greenBorder: #259d4d;

  --yellowBackground: #946b00;
  --yellowBackgroundHover: #af7f00;
  --yellowText: #f3c831;
  --yellowIcon: #f3c831;
  --yellowBorder: #d7a220;

  --redBackground: #cf313b;
  --redBackgroundHover: #cb3535;
  --redText: #ff8a8a;
  --redIcon: #ff8a8a;
  --redBorder: #e42f3a;

  --orangeBackground: #bf4704;
  --orangeBackgroundHover: #DC95616;
  --orangeText: #eba267;
  --orangeIcon: #eba267;
  --orangeBorder: #df640c;

  --purpleBackground: #734ce0;
  --purpleBackgroundHover: #815beb;
  --purpleText: #b89eff;
  --purpleIcon: #b89eff;
  --purpleBorder: #875ffd;

  --hoverColor: rgba(255, 255, 255, .14);

  /* Webflow shadows & borders */

  --boxShadows-action-colored: 0px .5px 1px 0px rgba(0, 0, 0, .8), 0px .5px .5px 0px rgba(255, 255, 255, .2) inset;
  --boxShadows-action-secondary: 0px .5px 1px rgba(0, 0, 0, .8), inset 0px .5px .5px rgba(255, 255, 255, .12);
  --boxShadows-input-inner: 0px 1px 1px -1px rgba(0, 0, 0, .13) inset, 0px 3px 3px -3px rgba(0, 0, 0, .17) inset, 0px 4px 4px -4px rgba(0, 0, 0, .17) inset, 0px 8px 8px -8px rgba(0, 0, 0, .17) inset, 0px 12px 12px -12px rgba(0, 0, 0, .13) inset, 0px 16px 16px -16px rgba(0, 0, 0, .13) inset;
  --boxShadows-menu: 0px .5px .5px 0px rgba(255, 255, 255, .12) inset, 0px 12px 24px 8px rgba(0, 0, 0, .04), 0px 8px 16px 4px rgba(0, 0, 0, .04), 0px 4px 8px 2px rgba(0, 0, 0, .04), 0px 2px 6px 0px rgba(0, 0, 0, .04), 0px 0px 1px 0px rgba(0, 0, 0, .25);
  --input-inner-shadow: 0px 1px 1px -1px rgba(0, 0, 0, .13) inset, 0px 3px 3px -3px rgba(0, 0, 0, .17) inset, 0px 4px 4px -4px rgba(0, 0, 0, .17) inset, 0px 8px 8px -8px rgba(0, 0, 0, .17) inset, 0px 12px 12px -12px rgba(0, 0, 0, .13) inset, 0px 16px 16px -16px rgba(0, 0, 0, .13) inset;
  --menu-shadow: 0px 12px 24px 8px rgba(0, 0, 0, .08), 0px 8px 16px 4px rgba(0, 0, 0, .08), 0px 4px 8px 2px rgba(0, 0, 0, .08), 0px 2px 6px 0px rgba(0, 0, 0, .08), 0px -.5px .5px 0px rgba(0, 0, 0, .12) inset, 0px .5px .5px 0px rgba(255, 255, 255, .12) inset;

  --border-radius: 4px;

  /* Webflow typography */

  --font-stack: "Inter", sans-serif;

  --font-size-small: 11.5px;
  --font-size-small-letter-spacing: -.115px;
  --font-size-large: 12.5px;

  --font-weight-normal: 400;
  --font-weight-medium: 600;

  /* Webflow & custom spacing */

  --padding-tiny: 2px;
  --padding-small: 4px;
  --padding-regular: 8px;
  --padding-large: 12px;
  --padding-xlarge: 16px;

  --spacing-12: 12px;
  --space-space-1: 4px;
  --spacing-16: 16px;
  --spacing-8: 8px;
  --spacing-4: 4px
}

*,*:before,*:after {
  box-sizing: border-box
}

html,body,#app {
  height: 100%
}

body {
  margin: 0;
  background: var(--background1);
  color: var(--text1, #d9d9d9);
  font-size: var(--font-size-large);
  font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,Helvetica,Arial,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,sans-serif
}

button,span,h1,h2,h3,h4,h5,p,div,input,textarea,select,option,label,a {
  font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,Helvetica,Arial,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,sans-serif
}

h1 {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-medium);
  margin-bottom: 1rem;
  margin-block-start:6px;
  margin-block-end:6px
}

h2 {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  margin-block-start:4px;
  margin-block-end:4px
}

h3 {
  font-size: var(--font-size-tiny);
  font-weight: 400;
  margin-bottom: 1rem;
  margin-block-start:4px;
  margin-block-end:4px
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
}

form {
  display: block;
  margin-top: 0;
  margin-block-end:0em
}

label {
  display: block;
  font-size: var(--font-size-small);
  font-weight: 400;
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  padding: var(--padding-regular);
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  color: var(--text2);
  background: var(--background4);
  border: 1px solid;
  border-color: var(--border3);
  border-radius: var(--border-radius);
  outline: none;
  resize: none
}

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0
}

button, .button {
  color: var(--actionPrimaryText);
  cursor: pointer;
  user-select: none;
  padding: var(--padding-small) var(--padding-regular);
  font-family: inherit;
  text-decoration: none;
  white-space: nowrap;
  position: relative;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  background: var(--actionPrimaryBackground);
  border: none;
  box-sizing: border-box;
  box-shadow: var(--boxShadows-action-colored);
  -webkit-box-align: center;
  -webkit-box-pack: center;
}

button:hover, .button:hover {
  background: var(--actionPrimaryBackgroundHover)
}

.flex {
  display: flex;
}

.flex-vertical {
  display: flex;
  flex-direction: column
}

.justify-center {
  justify-content: center;
}

.text-align-center {
  text-align: center;
}

.full-width {
  width: 100%
}

.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}

* {
  scrollbar-width: thin
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px
}

*::-webkit-scrollbar-track {
  background-color: var(--background5)
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--background1);
  border: 2px solid var(--background5)
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--background2)
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--background2)
}

.radio-wrapper {
  cursor: pointer;
  padding: var(--padding-regular) var(--padding-large);
  font-family: inherit;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  align-self: center;
  width: 100%;
  height: 100%;
}

.radio-text {
  pointer-events: none;
}

input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  border-color: var(--border1);
  border-radius: var(--border-radius);
  color: var(--actionPrimaryText);
  background: var(--actionSecondaryBackground);
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  cursor: pointer;
}

input[type=radio]:hover {
  background: var(--actionSecondaryBackgroundHover);
}

input[type=radio]:checked {
  background: var(--background4);
  border-color: var(--border3);
}

input[type=radio]:disabled {
  background: var(--background2);
  color: var(--textInactive);
}

.radio-text {
  z-index: 2;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 7px;
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: var(--background5);
  border-radius: var(--border-radius);
  vertical-align: middle;
  position: relative;
  flex-shrink: 0;
}

input[type=checkbox]:hover:before {
  content: "";
  display: block;
  width: 9px;
  height: 5px;
  border-style: solid;
  border-color: var(--text4);
  border-width: 0 0 2px 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-60%) rotate(-45deg)
}

input[type=checkbox]:checked:before {
  content: "";
  display: block;
  width: 9px;
  height: 5px;
  border-style: solid;
  border-color: var(--text1);
  border-width: 0 0 2px 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-60%) rotate(-45deg)
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 7px;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: var(--border3) var(--border-radius) solid;
  padding: var(--padding-tiny);
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  color: var(--text1);
  background: var(--background4);
  border: var(--border3) 1px solid;
  outline: none;
  flex-grow: 1;
}

.toggle-wrapper {
  display: flex;
  align-items: center;
}

button.toggle {
  width: 3em;
  height: 1.75em;
  position: relative;
  margin: 0 0 0 .5em;
  background: var(--background3);
  border: 1px solid var(--border3);
  cursor: pointer;
  border-radius: 1.5em;
}

button.toggle:before {
  content: "";
  position: absolute;
  width: 1.3em;
  height: 1.3em;
  background: var(--actionPrimaryText);
  top: .13em;
  right: 1.4em;
  transition: transform .3s;
  border-radius: 100%;
}

button.toggle[aria-checked=true] {
  background: var(--actionPrimaryBackground);
}

button.toggle[aria-checked=true]:before {
  transform: translate(1.3em);
  transition: transform .3s;
  background-color: var(--text1);
}
